<h2 class="center">Inscription</h2>


<div class="container">

    <div class="row">
        <form (ngSubmit)="onSignup(f)" #f="ngForm" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="prenom" name="prenom" type="text" ngModel class="validate">
              <label for="prenom">Prénom</label>
            </div>
            <div class="input-field col s6">
              <input id="nom" name="nom" type="text" ngModel class="validate">
              <label for="nom">Nom</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="password" name="password" ngModel type="password" class="validate">
              <label for="password">Mot de passe</label>
            </div>
            <div class="input-field col s6">
                <input id="passwordConfirm" name="passwordConfirm" type="text" class="validate">
                <label for="passwordConfirm">Confirmer le mot de passe</label>
              </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="courriel" name="courriel" ngModel type="email" class="validate">
              <label for="courriel">Courriel</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input id="photo" name="photo" ngModel type="text" class="validate">
                <label for="photo">photo</label>
              </div>
            </div>

          <h4 class="center">Adresse</h4>

          <div class="row">
              <div class="input-field col s12">
                  <input id="noCivic" ngModel name="noCivic" type="text">
                  <label for="noCivic">Numéro Civique</label>
                </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="app" ngModel name="app" type="text">
                  <label for="app">Appartement</label>
                </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="rue" ngModel name="rue" type="text">
                  <label for="rue">rue</label>
                </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="codePostal" ngModel name="codePostal" type="text">
                  <label for="codePostal">Code Postal</label>
                </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="ville" ngModel name="ville" type="text" class="validate">
                  <label for="ville">Ville</label>
                </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <input id="province" ngModel name="province" type="text" class="validate">
                  <label for="province">Province</label>
                </div>
          </div>
          <button type="submit">S'inscrire</button>
        </form>
      </div>


</div>
