
<h1 class="center">{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker[0].geometry.location.lat" [longitude]="marker[0].geometry.location.lng">

    <agm-info-window>
      <ul>
         <li>Article: {{articles[i].nom}}</li>
          <li>Proprietaire: {{articles[i].membres.nom}}</li>
          <li>Courriel: {{articles[i].membres.courriel}}</li>
      </ul>
    </agm-info-window>

  </agm-marker>
</agm-map>


<div class='agm-info-window-content'>
</div>

<button (click)="displayArticles()">Display</button>
